/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    text-decoration: none;
    border-radius: 2em;
    padding: 5px 10px;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

/* **** header **** */

header {
    background-color: #404eed;
}

/* header top */

.header-top {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}

.header-top a {
    font-size: 14px;
    text-decoration: none;

}
 
.logo,
.accedi {
    width: 25%;
}

.header-top nav {
    width: 50%;
    text-align: center;
}

.logo,
.accedi,
.header-top nav {
    float: left;
}

/* logo */

.logo img {
    vertical-align: middle;
}

/* nav */

.header-top nav li {
    display: inline-block;
}

.header-top nav li a {
    font-weight: bold;
    color: white;
    display: block;
    padding: 0 15px;
}

.header-top nav li a:hover {
    text-decoration: underline;
}


/* button accedi */

.accedi {
    text-align: right;
}



/* jumbotron */



/* **** main **** */

/* **** footer **** */

/* debug */

.debug .header-top div,
.debug .header-top nav {
    border: 1px solid black;
    height: 100%;
}

.debug .jumbotron{
    height: 600px;
    background-color: yellow;
}

main.debug {
    height: 1200px;
    background-color: red;
}

footer.debug {
    height: 400px;
    background-color: green;
}