/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1180px;
}

.left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    font-weight: bold;
    text-decoration: none;
    border-radius: 2em;
    padding: 5px 10px;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.big {
    padding: 10px 20px;
}

/* **** header **** */

header {
    background-color: #255ee8;
}

/* header top */

.header-top {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}

.header-top a {
    font-size: 14px;
    text-decoration: none;

}
 
.logo,
.accedi {
    width: 25%;
}

.header-top nav {
    width: 50%;
    text-align: center;
}

/* logo */

.logo img {
    vertical-align: middle;
}

/* nav */

.header-top nav li {
    display: inline-block;
}

.header-top nav li a {
    font-weight: bold;
    color: white;
    display: block;
    padding: 0 15px;
}

.header-top nav li a:hover {
    text-decoration: underline;
}


/* button accedi */

.accedi {
    text-align: right;
}



/* jumbotron */

.jumbotron {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jumbo-text {
    width: 60%;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 150px;
}

.jumbo-text h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.jumbo-text .button {
    display: inline-block;
    margin: 40px 10px;
}

.jumbo-text i {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 4px;
}

/* **** main **** */

main section {
    position: relative;
}

main section .container {
    margin: 100px auto;
}

.img-section {
    width: 65%;
}

.img-section img {
    width: 650px;
}

.text-section {
    width: 35%;
}

.text-section h3 {
    font-size: 35px;
    margin-bottom: 20px;
    
}

.text-section p {
    font-size: 18px;
}

/* **** footer **** */

/* debug */

.debug .header-top div,
.debug .header-top nav {
    border: 1px solid black;
    height: 100%;
}

.debug .container {
    background-color: cadetblue;
}

.debug .jumbotron{
    background-color: yellow;
}

main.debug {
    background-color: red;
}

.debug section {
    height: 600px;
    background-color: violet;
    border: 1px solid black;
}

footer.debug {
    height: 400px;
    background-color: green;
}